<template name="_sidebar">
  <!-- SIDEBAR -->
  <div id="sidebar" class="sidebar mini-menu">
    <div class="sidebar-menu nav-collapse">
      <!-- SIDEBAR MENU -->
      <ul>
        <li>
          <a href="/" data-open="addActivity" data-toggle="tooltip" data-placement="right" title="Domov">
          <i class="fa fa-home fa-fw"></i>
          </a>
        </li>
        <li class="active">
          <a href="#" id="open-menu" data-open="addActivity" data-toggle="tooltip" data-placement="right" title="Pridať aktivitu">
          <i class="fa fa-plus-circle fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="#" id="open-menu" data-open="activityFeed" data-toggle="tooltip" data-placement="right" title="Zoznam aktivít">
          <i class="fa fa-rss fa-fw"></i>
          </a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="right" title="Nastavenia">
          <i class="fa fa-gears fa-fw"></i>
          </a>
        </li>
        {{#if currentUser}}
        <li data-toggle="tooltip" data-placement="right" title="Profil">
          <a href="/profil/{{userId}}">
          <i class="fa fa-user fa-fw"></i>
          </a>
        </li>
        <li data-toggle="tooltip" data-placement="right" title="Odhlásenie">
          <a href="#" id="logout">
          <i class="fa fa-power-off fa-fw"></i>
          </a>
        </li>
        {{else}}
        <li data-toggle="tooltip" data-placement="right" title="Prihlásenie">
          <a href="/prihlasenie">
          <i class="fa fa-sign-in fa-fw"></i>
          </a>
        </li>
        {{/if}}
      </ul>
      <!-- /SIDEBAR MENU -->
    </div>
  </div>
  <!-- /SIDEBAR -->
</template>
