<template name="activityFeed">
  <div class="box">
    <div class="box-title">
      <h4>Zoznam aktivít</h4>
    </div>
    <div class="box-body big">
    {{#if Template.subscriptionsReady}}
      {{#each activity}}
      <div class="event-item">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="container-fluid">
              <div class="row details">
                <div class="col-md-3">
                  <div class="join">
                   <i class="fa fa-plus-circle"></i>
                   <p>Pridaj sa!</p>
                  </div>
                </div>
                <div class="col-md-9 join-table">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12 event-item-title">
                        <h3>{{nazovUdalosti}}</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <p><i class="fa fa-calendar"></i>{{classicTime eventDate}}</p>
                      </div>
                      <div class="col-md-3">
                        <p><i class="fa fa-clock-o"></i>{{clockTime eventTime}}</p>
                      </div>
                      <div class="col-md-3">
                        <p><i class="fa fa-unlock"></i>Public</p>
                        <!-- <i class="fa fa-lock"></i> -->
                      </div>
                      <div class="col-md-3">
                        <p><i class="fa fa-eur"></i>zadarmo</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p><i class="fa fa-map-marker"></i>{{miestoKonania}}</p>
                      </div>
                      <div class="col-md-6">
                        <p><i class="fa fa-user"></i>Michal Makáč</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="container-fluid">
                  <div class="row tools">
                    <div class="col-md-4">
                      <a href="#"><i class="fa fa-users"></i>{{pocetOsob}}/10</a>
                    </div>
                    <div class="col-md-4">
                      <a href="#"><i class="fa fa-caret-down"></i> Viac </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#"><i class="fa fa-comments"></i>Komenty</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    {{else}}
      <p>Loading...</p>
    {{/if}}
    </div>
  </div>
</template>
