<template name="addActivity">
  <!-- Top content -->
  <div class="AddActivity">

    <div class="box">
      <div class="box-title">
        <h4>Pridať aktivitu</h4>
      </div>
      <div class="box-body big">
        {{#if currentUser}}
        <form class="form-horizontal" role="form" id"add-activity">
          <div class="form-group">
            <label class="col-sm-3 control-label">Vyber šport</label>
            <div class="col-sm-9">
              <select class="form-control">
                <option>Basketbal</option>
                <option>Volejbal</option>
                <option>Futbal</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Počet osôb</label>
            <div class="col-sm-9">
              <input type="number" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Dátum konania</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="event-date">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Začiatok udalosti</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="event-time">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control" placeholder="Názov udalosti">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control" placeholder="Miesto konania udalosti">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea class="form-control" rows="5" placeholder="Popis udalosti"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Vytvoriť udalosť</button>
            </div>
          </div>
        </form>
        {{else}}
          <div class="alert alert-danger" role="alert">
            Ak chcete pridať novú športovú udalosť, musíte byť <strong>prihlásený</strong>!

            <a href="/prihlasenie" class="btn btn-primary">Prihlásenie</a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
