<template name="addActivity">
  <!-- Top content -->
  <div class="top-content">
    <div class="inner-bg">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 form-box">
                <div class="form-top">
                  <div class="form-top-left">
                    <h3>Vytvor vlastné podujatie</h3>
                      <p>Vyplň detaily podujatia</p>
                  </div>
                  </div>
                  <div class="form-bottom">
                    <div align="left">
                      <p>Vyber šport &nbsp;
                          <select name="mydropdown">
                          <option value="Basketbal">Basketbal</option>
                          <option value="Volejbal">Volejbal</option>
                          <option value="Futbal">Futbal</option>
                          </select>
                      </p>
                      </div>
                      <div align="left">
                      <p>Počet osôb &nbsp;
                      <select name="mydropdown">
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      </select>
                  </p>
                  <div align="left">
                      <p>Dátum konania: &nbsp;
                      <select name="mydropdown">
                      <option value="1">1.</option>
                      <option value="2">2.</option>
                      <option value="3">3.</option>
                      <option value="4">4.</option>
                      <option value="5">5.</option>
                      <option value="6">6.</option>
                      <option value="7">7.</option>
                      <option value="8">8.</option>
                      <option value="9">9.</option>
                      <option value="10">10.</option>
                      <option value="11">11.</option>
                      <option value="12">12.</option>
                      <option value="13">13.</option>
                      <option value="14">14.</option>
                      <option value="15">15.</option>
                      <option value="16">16.</option>
                      <option value="17">17.</option>
                      <option value="18">18.</option>
                      <option value="19">19.</option>
                      <option value="20">20.</option>
                      <option value="21">21.</option>
                      <option value="22">22.</option>
                      <option value="23">23.</option>
                      <option value="24">24.</option>
                      <option value="25">25.</option>
                      <option value="26">26.</option>
                      <option value="27">27.</option>
                      <option value="28">28.</option>
                      <option value="29">29.</option>
                      <option value="30">30.</option>
                      <option value="31">31.</option>
                      </select>
                      &nbsp;
                      <select name="mydropdown">
                      <option value="Január">Január</option>
                      <option value="Február">Február</option>
                      <option value="Marec">Marec</option>
                      <option value="Apríl">Apríl</option>
                      <option value="Máj">Máj</option>
                      <option value="Jún">Jún</option>
                      <option value="Júl">Júl</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="Október">Október</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                      </select>
                      &nbsp;
                      <select name="mydropdown">
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      </select>
                  </p>
                </div>
                  <div align="left">
                      <p>Začiatok udalosti: &nbsp;
                      <select name="mydropdown">
                      <option value="0">00</option>
                      <option value="1">01</option>
                      <option value="2">02</option>
                      <option value="3">03</option>
                      <option value="4">04</option>
                      <option value="5">05</option>
                      <option value="6">06</option>
                      <option value="7">07</option>
                      <option value="8">08</option>
                      <option value="9">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      </select>
                      &nbsp; hod &nbsp;
                      <select name="mydropdown">
                      <option value="0">00</option>
                      <option value="1">15</option>
                      <option value="2">30</option>
                      <option value="3">45</option>
                      </select>
                      &nbsp; min
                  </p>
                      </div>
                <form role="form" action="" method="post" class="registration-form">
                  <div class="form-group">
                    <label class="sr-only" for="form-first-name">Názov udalosti</label>
                      <input type="text" name="form-first-name" placeholder="Názov udalosti" class="form-first-name form-control" id="form-first-name">
                              <!-- NASLEDUJUCI AUTOCOMPLETE -->
                              <label class="sr-only" for="form-first-name">Miesto konania</label>
                              <input type="text" name="form-first-name" placeholder="Miesto konania" class="form-first-name form-control" id="form-first-name">
                      <label class="sr-only" for="form-about-yourself">Popis udalosti</label>
                      <textarea name="form-about-yourself" placeholder="Popis udalosti"
                            class="form-about-yourself form-control" id="form-about-yourself"></textarea>
                    </div>
                    <button type="submit" class="btn">Vytvor udalosť</button>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</template>
